body {

    background-color: #CCC;
    background-image: url("../images/fl.jpg");
    background-size: cover;
    padding-top:60px;
    margin:80px 80px 100px 100px;
    font-family:'Droid Sans', serif;
    font-size: 16px;
    font-weight: 400;
    color: #333;
    padding: 1em;
}

#fixedheader {

    position:fixed;
    top:0px;
    left:0px;
    width:100%;
    color:#CCC;
    /*background:#e9e2bb;*/
    background: whitesmoke;

    margin-bottom: 5px;
    padding-top: 5px;
}
#logo {
    float: left;
    margin-top:0px;
    padding-left: 15px;
    height: 100px;
    width: 225px;

}



h1, h2 , h3 , h4 {
    margin:1.414em 0 0.5em;
    font-weight: 700;
    line-height: 1.2;
}

h1 {
    margin-top:0;
    font-size:3.157em;
    text-align: center;
}

h2 {
    font-size:2.369em;
}

h3 {
    font-size: 1.777em;
}

h4 {
    font-size: 1.333em;
}
small, .font_small {font-size: 0.75em;}

div#fixedfooter {
    position:fixed;
    bottom:0px;
    left:0px;
    width:100%;
    color:#CCC;
    background:#214d55;
    padding:8px;
}
nav {

    /*width: 100%;*/
    padding-top:50px;
    padding-left:250px;

    margin: 20px 0;


}

nav ul {

    list-style: none;

    overflow: hidden;

}

nav ul li {

    float: left;

    width: 20%;

}

nav ul li a {

    text-align: center;

    padding: 8px 0;

    display: block;

    width: 100%;

    background: #0080A5;



}

nav ul li a,

nav ul li a:focus,

nav ul li a:visited,

nav ul li a:hover,

nav ul li a:active {

    color: white;

    text-decoration: none; }

nav ul li a:hover,

nav ul li a:active {

    background: #b0ca34;




}

nav ul li:first-child a {

    border-top-left-radius: 8px;

    border-bottom-left-radius: 8px; }

nav ul li:last-child a {

    border-top-right-radius: 8px;

    border-bottom-right-radius: 8px; }



.image-content {
    margin-top: 100px;
    margin-left: 375px;
    width:800px;
    line-height:25px;

}

#child {
    float:left;
    padding-top: 100px;
    width: 350px;
    height: 350px;
}

