body {

    background-color: #CCC;
    background-image: url("images/Hope2.jpg");
    padding-top:60px;
    margin:80px 80px 100px 100px;
    font-family: serif;
    font-size: 16px;
    font-weight: 400;
    color: #333;
    padding: 1em;

}
#fixedheader {
    position:fixed;
    top:0px;
    left:0px;
    width:100%;
    color:#CCC;
    background:#e9e2bb;
    background-image: url("images/header.gif");
<<<<<<< HEAD
    padding-top: 24px;
    padding-bottom: 12px;
=======
    padding-top: 5px;

>>>>>>> 62a635f1200a5315436f3c51736b05de92191d7a
}
#donate-header{
    padding-top: 100px;
}


#logo {
    margin-top:0px;
    padding-left: 15px;
    height: 100px;
    width: 225px;

}

#pagewrap {
    padding: 5px;
    width: 960px;
    margin: 20px auto;
}

#content {
    width: 290px;
    float: left;
    padding: 5px 15px;
}

#middle {
    width: 294px; /* Account for margins + border values */
    float: left;
    padding: 5px 15px;
    margin: 0px 5px 5px 5px;
}

#sidebar {
    width: 270px;
    padding: 5px 15px;
    float: left;
}

#fixedfooter {
    position:fixed;
    bottom:0px;
    left:0px;
    width:100%;
    color:#CCC;
    background:#214d55;
    padding:8px;
}
p {
    text-align: center;
}
h2 {
    text-align: center;
}
h1 {
    text-align: center;
}
aside {
    text-align: center;
}

nav {

    width: 100%;
    padding-left: 100px;
    margin: 20px 0;

}

nav ul {

    list-style: none;

    overflow: hidden; 
}

nav ul li {

    float: left;

    width: 20%; 
}

nav ul li a {

    text-align: center;

    padding: 8px 0;

    display: block;

    width: 100%;

    background-image: url("images/navbar.png");

}

nav ul li a,

nav ul li a:focus,

nav ul li a:visited,

nav ul li a:hover,

nav ul li a:active {

    color: #000;

    text-decoration: none; }

nav ul li a:hover,

nav ul li a:active {

    background: #b0ca34;
}
  