body {
    
    background-color: #CCC;
    background-image: url("images/Hope2.jpg");
    padding-top:60px;
    margin:80px 80px 100px 100px;
    font-family: serif;
    font-size: 16px;
    font-weight: 400;
    color: ##333;
    padding: 1em;
}

div#fixedheader {
    
    position:fixed;
    top:0px;
    left:0px;
    width:100%;
    color:#CCC;
    background:#e9e2bb;
    background-image: url("images/header.gif");
    padding-top: 24px;
    padding-bottom: 18px;
}
#logo {
    margin-top:0px;
    padding-left: 15px;
    height: 100px;
    width: 225px;

}

#slider {
    width:1170px;
    height: 500px;
    overflow: hidden;

}

#slider .slides {
    display: block;
    width: 7000px;
    height: 400px;
    margin:0;
    padding: 0;

}

#slider .slide {
    float: left;
    list-style-type: none;
    width: 1170px;
    height: 500px;

}
.slide1 {background: red;}
.slide2 {background: blue;}
.slide3 {background: green;}
.slide4 {background: purple;}
.slide5 {background: pink;}

article {
    -webkit-column-width: 450px;
    -moz-column-width: 450px;
    column-width:450px;
    text-align: justify;
}
.article {
    margin-bottom: 1.3em;
}

h1, h2 , h3 , h4 {
    margin:1.414em 0 0.5em;
    font-weight: 700;
    line-height: 1.2;
}

h1 {
    margin-top:0;
    font-size:3.157em;
    text-align: center;
}

h2 {
    font-size:2.369em;
}

h3 {
    font-size: 1.777em;
}

h4 {
    font-size: 1.333em;
}
small, .font_small {font-size: 0.75em;}

div#fixedfooter {
    position:fixed;
    bottom:0px;
    left:0px;
    width:100%;
    color:#CCC;
    background:#214d55;
    padding:8px;
}
nav {
    background-image: ;
    width: 100%;
    padding-left: 100px;
    margin: 20px 0;
    }

nav ul {

    list-style: none;

    overflow: hidden; }

nav ul li {

    float: left;

    width: 20%; }

nav ul li a {

    text-align: center;

    padding: 8px 0;

    display: block;

    width: 100%;

    background-image: url("images/navbar.png");

}

nav ul li a,

nav ul li a:focus,

nav ul li a:visited,

nav ul li a:hover,

nav ul li a:active {

    color: #000;

    text-decoration: none; }

nav ul li a:hover,

nav ul li a:active {

    background: #b0ca34;



}

nav ul li:first-child a {

    border-top-left-radius: 8px;

    border-bottom-left-radius: 8px; }

nav ul li:last-child a {

    border-top-right-radius: 8px;

    border-bottom-right-radius: 8px; }



}
#container2 {
    clear:left;
    float:left;
    width:100%;
    overflow:hidden;
    background:transparent; /* column 2 background colour */
    padding-bottom: 105px;
}
#container1 {
    float:left;
    width:100%;
    position:relative;
    right:50%;
    background: transparent; /* column 1 background colour */
    padding-bottom: 55px;
}
#col1 {
    float:left;
    width:46%;
    position:relative;
    left:52%;
    overflow:hidden;
    padding-bottom: 50px;
}
#col2 {
    float:left;
    width:46%;
    position:relative;
    left:56%;
    overflow:hidden;
    padding-bottom: 55px;
}
.Home-h2{
    text-align: center;
 }